/* Character Sheet Image Replacements */
/* Header and Background */
.actor.sheet section.window-content form.crb-style {
  display: grid;
  grid: "sidebar header" 4.625rem "sidebar nav" minmax(min-content, max-content) "sidebar content" 1fr/14.375rem 1fr;
  font-family: var(--body-serif);
  background: url("../art/character-sheet/header.webp");
  background-repeat: repeat-x, no-repeat;
  background-size: auto 5.625rem, cover;
  background-attachment: local;
  height: 100%;
}

.actor.sheet.character section.window-content .crb-style aside {
  background-image: url("../art/character-sheet/red_sidebar_top.webp"), url("../art/character-sheet/red_sidebar_bottom.webp");
}


.actor.sheet section.window-content form.crb-style header.char-header .char-level .level {
  background: url("../art/character-sheet/level-badge.webp") no-repeat;
}

.actor.sheet.character section.window-content .crb-style aside .sidebar .armor-class .ac.hp,
.actor.sheet.character section.window-content .crb-style aside .sidebar .armor-class .shield.hp {
  background: url("../art/character-sheet/shield-red.webp") no-repeat center center;
  grid-area: shield-hp;
}

.actor.sheet.vehicle .crb-style aside {
  background-image: url("../art/character-sheet/red_sidebar_top.webp"), url("../art/character-sheet/red_sidebar_bottom.webp");
}

header.char-header .char-level .level,
header.char-header .char-details h1.char-name input[type=text],
header.char-header .char-details h1.char-name span.non-editable,
header.char-header .char-level .level input,
header.char-header .char-level .exp-data input,
header.char-header .char-details .dots h4,
header.char-header .char-level .level label {
  color: white;
}

section.tab.character {
  color: white;
}

/* Ensure readability for specific elements */
section.tab.character .details-label,
section.tab.character .value,
section.tab.character .tags li.tag,
section.tab.character h3,
section.tab.character h2,
section.tab.character h1,
section.tab.character label,
section.tab.character input,
section.tab.character .attribute .label {
  color: rgb(255, 255, 255, 0.9); /* Ensure all these specific elements have white text */
}
section.tab.character h3 {
  color: rgba(255, 255, 255, 0.662);

}

/* Attributes heading text colour */
.actor.sheet.character section.window-content .crb-style .sheet-body .sheet-content > .tab.active.character .subsection.attributes ul .abbreviation {
  color: rgb(255, 255, 255, 0.9);
}

/* Attributes underneath text colour */
.actor.sheet.character section.window-content .crb-style .sheet-body .sheet-content > .tab.active.character .subsection.attributes ul .label {
  color: rgb(255, 255, 255);
  opacity: 0.65;
}

/* Languages, Speed and Attribute Modifiers heading text colour */
.actor.sheet section.window-content form.crb-style section.major > header,
.actor.sheet section.window-content form.crb-style section.major > .subsection > header {
  color: rgb(255, 255, 255, 0.9);
  border-bottom: 1px solid rgb(255, 255, 255);
}

/* Replace Frame Image */
.actor.sheet.character section.window-content .crb-style .sheet-body .sheet-content > .tab.active.proficiencies ul.proficiencies-list li,
.actor.sheet section.window-content .item-summary .description .addendum,
.actor.sheet.character section.window-content .crb-style .sheet-body .sheet-content > .tab.active.character .subsection.attributes ul h3.modifier {
  border-image-source: url("../assets/sheet/elegant-frame.webp");
  border-image-slice: 0;
  border-image-width: 0;
  border-bottom-style: solid;
  border-top-style: solid;
  border-top-width: 0.01em;
  border-left-style: solid; 
  border-right-style: solid;  
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-color: rgba(255, 255, 255, 0.604);
}

/* Land, Swim, Slimb, Fly and Burrow heading text colour */
.actor.sheet.character section.window-content .crb-style .sheet-body .sheet-content > .tab.active.character .subsection.speeds .speed .label {
  color: rgb(255, 255, 255, 0.9);
}

/* Speed numbers text value colour */
.actor.sheet.character section.window-content .crb-style .sheet-body .sheet-content > .tab.active.character .subsection.speeds .speed .value {
  color: rgb(255, 255, 255, 0.9);
}

/* Hero Points text value colour */
.actor.sheet.character section.window-content .crb-style header.char-header .char-details .dots .label {
  color: rgb(255, 255, 255, 0.9);
}

/* Edit button text colour */
.actor.sheet section.window-content form.crb-style section.major > header button,
.actor.sheet section.window-content form.crb-style section.major > .subsection > header button {
  color: rgb(255, 255, 255, 0.9);
  border-left-color: rgb(255, 255, 255);
  border-bottom-color: rgb(255, 255, 255);
  border-right-color: rgb(255, 255, 255);
  border-top-color: rgb(255, 255, 255);
}

/* Climb and Swim dice symbol */
.actor.sheet.character section.window-content .crb-style .sheet-body .sheet-content > .tab.active.character .subsection.speeds .speed .value.rollable svg path {
  fill: rgb(255, 255, 255);
  opacity: 0.85;
}

/* Ancestry, Heritage, Background, Class and Deity edit button colour */
.actor.sheet.character section.window-content .crb-style .sheet-body .sheet-content > .tab.active.character .subsection.details .abcd .detail h3 {
  color: rgb(255, 255, 255, 0.9);
}

/* Ancestry, Heritage, Background, Class and Deity background colour */
.crb-style .details-input,
.actor.sheet.character section.window-content .crb-style .sheet-body .sheet-content > .tab.active.character .subsection.details .image-container,
.actor.sheet.character section.window-content .crb-style .sheet-body .sheet-content > .tab.active.character .subsection.details .abcd .detail h3 {
  background-color: rgba(0, 0, 0, 0.337);
}

/* Running Symbol - Land Speed*/
.actor.sheet.character section.window-content .crb-style .sheet-body .sheet-content > .tab.active.character .subsection.speeds .speed .value i {
  color: rgb(255, 255, 255);
  opacity: 0.85;
}

/* Languages Background and Border colour */
.tags.light > .tag,
.tags > .tag.light {
  background-color: rgba(0, 0, 0, 0.337);
  color: rgb(255, 255, 255, 0.9);
  border-bottom-color: rgba(255, 255, 255, 0.389);
  border-left-color: rgba(255, 255, 255, 0.389);
  border-right-color: rgba(255, 255, 255, 0.389);
  border-top-color: rgba(255, 255, 255, 0.389);
  padding-bottom: 0.1em;
}

/* Standard Lists - Languages Background and Border bottom margin */
ul,
ol {
  margin: 0.5em 0;
  padding: 0 0 0.5em 1.5em;
}

.actor.sheet section.window-content form.crb-style nav.sheet-navigation .item {
  color: rgb(255, 255, 255, 0.9);
  fill: rgb(255, 255, 255);
  box-shadow: 0 0 0 1px rgb(215, 119, 206), 0 0 0 2px #d777ce, inset 0 0 4px rgba(93, 0, 185, 0.25);
}

/* Navigation background */
.actor.sheet section.window-content form.crb-style nav.sheet-navigation {
  background: url("../assets/sheet/border-pattern.webp") repeat-x top, url("../assets/sheet/border-pattern.webp") repeat-x bottom, var(--color-pf-secondary);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
  background-color: rgb(12, 25, 43);
}
.actor.sheet section.window-content form.crb-style nav.sheet-navigation .item.active {
  box-shadow: 0 0 0 1px rgb(255, 255, 255), 0 0 0 2px rgb(255, 255, 255), inset 0 0 4px rgba(0, 0, 0, 0.25), 0 0 8px rgb(255, 255, 255);
  background-image: linear-gradient(90deg, #14364f 0%, rgb(40, 98, 138) 50%, #14364f 100%);
}

/* Current HP Colour*/
.actor.sheet.character section.window-content .crb-style aside .sidebar .hitpoints .hp-big .container.current-hp {
  background-color: #14364f;
  background-image: linear-gradient(90deg, #14364f 0%, rgb(40, 98, 138) 50%, #14364f 100%);
  border: 1px solid rgb(255, 255, 255);
}
/* Max HP Colour*/
.actor.sheet.character section.window-content .crb-style aside .sidebar .data-value h2 {
  color: rgb(200, 222, 255, 0.9);
}

/* Sidebar Text Heading Colour*/
.actor.sheet.character section.window-content .crb-style aside .sidebar header h2 {
  color: rgb(255, 255, 255, 0.9);
}
.actor.sheet.character section.window-content .crb-style aside .sidebar header button,
.actor.sheet.character section.window-content .crb-style aside .sidebar header h2 {
  border-bottom: 1px solid rgb(255, 255, 255);
}

/* Fort, Wis, Will Save Text Colour*/
.actor.sheet.character section.window-content .crb-style aside .sidebar .sidebar_label {
  color: rgb(255, 255, 255, 0.9);
}

/* Fort, Wis, Will Save modifier Text Colour*/
.actor.sheet.character section.window-content .crb-style aside .sidebar .roll-data .modifier,
.actor.sheet.character section.window-content .crb-style aside .sidebar .roll-data h3 {
  color: rgb(255, 255, 255, 0.9);
}
.actor.sheet.character section.window-content .crb-style aside .sidebar .roll-data a.modifier.hover {
  text-decoration: underline rgb(255, 255, 255);
}

/* Sidebar Perception Symbols Colour*/
.actor.sheet.character section.window-content .crb-style aside .sidebar a.roll-icon svg path {
  fill: rgb(255, 255, 255);
}
.actor.sheet.character section.window-content .crb-style aside,
.actor.sheet.character section.window-content .crb-style aside .sidebar a.roll-icon i {
  color: rgb(255, 255, 255, 0.9);
}
aside .sidebar {
  background-image: none;
}
.standard-form .form-group > label {
  color: rgba(255, 255, 255, 0.9);
}
#module-management .package-list .package-title,
#module-management .package-list .package-metadata,
#module-management .package-list .package-description {
  color: rgba(255, 255, 255, 0.9);
}
#keybindings .binding .key.uneditable {
  background: rgba(255, 255, 255, 0.25)
}
#invitation-links .connection.open {
  color: rgb(95, 255, 95);
}
#invitation-links .connection.unknown {
  color: rgba(255, 212, 112, 0.6);
}
#invitation-links .connection.closed {
  color: rgba(255, 86, 100, 0.6);
}
tags.tagify.pf2e-tagify {
  background-color: rgb(39, 16, 39);
}
tags.tagify.pf2e-tagify tag {
  background-color: rgb(45, 79, 106);
  color: rgba(255, 255, 255, 0.9) !important;
}
.tagify__tag > div {
  color: rgba(255, 255, 255, 0.9) !important;
}
tags.tagify.pf2e-tagify tag .tagify__tag__removeBtn {
  color: rgba(255, 255, 255, 0.9) !important;
}
/* More specific class target */
.tagify__tag.tagify--noAnim {
  /* Your styles here */
  background-color: rgb(45, 79, 106);
  color: rgba(255, 255, 255, 0.9) !important;
  box-shadow: none;
}
.tagify__tag > div::before {
  box-shadow: none;
}

/* selection box colour*/
.actor.sheet.character section.window-content .crb-style aside select {
  border: 1px solid #ffffff;
  background-color: rgb(20, 54, 79);
  color: rgb(255, 255, 255);
}
.crb-style select option {
  background-color: rgb(20, 54, 79);
}

/* Trait tag box colour*/
.tags.paizo-style tag,
.tags.paizo-style .tag,
.tags.paizo-style select.tag {
  background-color: rgb(45, 79, 106);
  border: 2px solid rgb(135, 189, 204);
}

/* Level Text colour*/
.actor.sheet section.window-content form.crb-style header.char-header .char-level .level label {
  color: rgb(255, 255, 255, 0.9);
}

/* Actions Tab*/
/* Level Text colour*/
.actor.sheet section.window-content form.crb-style .sheet-body .sheet-content {
  color: rgb(255, 255, 255, 0.9) !important;
}
.actor.sheet.character section.window-content .crb-style .sheet-body .sheet-content > .tab.active.actions ol.actions-list li.strike:not(.ready) h4.name {
  color: rgb(195, 195, 195);
}

/* Actions Text Hovor colour*/
.actor.sheet section.window-content form.crb-style .sheet-body .sheet-content .tab.actions ol.actions-list li.action .name > a:hover {
  color: rgb(255, 255, 255, 0.616);
}
.magazine {
  background-color: rgb(39, 16, 39);
  color: rgba(255, 255, 255, 0.895);
  padding-left: 2px;
  padding-right: 2px;
  border: 1px solid rgba(255, 255, 255, 0.903);
  border-radius: 4px;
}
/* Change the color of the SVG to white using filter */
.magazine .icon {
  filter: invert(1);
}
.actor.sheet.character section.window-content .crb-style .sheet-body .sheet-content .item-image.framed {
  background-color: rgba(255, 255, 255, 0.9);
}
.actor.sheet.character section.window-content .crb-style .sheet-body .sheet-content .item-image.framed, .actor.sheet.character section.window-content .crb-style .sheet-body .sheet-content .item-image.framed i {
  box-shadow: 0 0 0 1px rgb(255, 255, 255), 0 0 0 2px rgb(255, 255, 255), inset 0 0 4px rgba(0, 0, 0, 0.25), 0 0 8px rgb(255, 255, 255);
}
button {
  color: rgba(255, 255, 255, 0.95);
  background: rgba(0, 0, 0, 0.515);
}
button[data-button="yes"] {
  color: rgba(255, 255, 255, 0.9);
}
button[data-button="no"] {
  color: rgba(255, 255, 255, 0.9);
}
tags.tags.paizo-style {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0;
  --tag-bg: var(--color-bg-trait);
  --tag-hover: var(--color-bg-trait);
  --tag-remove-btn-color: var(--color-text-trait);
  --tag-text-color: var(--color-text-trait);
  --tags-border-color: var(--color-border-trait);
  --tags-focus-border-color: var(--color-border-trait);
  --tags-hover-border-color: var(--color-border-trait);
  --readonly-striped: 0;
}
[data-visibility=gm]:not(.dice-result > *) {
  background: none;/* rgba(0, 0, 0, 0.5);*/
  border-top-style: solid;
  border-bottom-style: solid;
  border-right-style: solid;
  border-left-style: solid;
  border-width: 0px;
  padding-left: 4px;
  padding-right: 4px;
  border-color: #ffffff;
  outline-style: none;
  border-style: solid;
}
[data-visibility=gm]:not(.dice-result > *) [data-visibility=gm] {
  outline: none;
  padding-bottom: 4px;
}
.chat-message {
  color: rgba(255, 255, 255, 0.9);
  background: rgba(68, 14, 82, 0.8);/*linear-gradient(45deg, rgb(160, 19, 79) 0%, rgb(50, 17, 69) 100%);*/
  border: 2px solid #6f6c66;
}
.chat-message .message-header {
  line-height: 20px;
  color: rgba(255, 255, 255, 0.9);
}
.pf2e.chat-card .card-buttons button span {
border: none;
}
[data-visibility=gm]:not(.dice-result > *) {
  padding: 1px;
}
.chat-message.whisper {
  background: rgba(20, 54, 79, 0.8);/*linear-gradient(45deg, rgb(19, 94, 160) 0%, rgb(18, 17, 69) 100%);*/
  border: 2px solid rgba(255, 255, 255, 0.9);
}

.chat-message > .message-header .flavor-text .target-dc-result .adjusted.increased {
  background: rgb(0, 128, 0);
  border: 1px solid #ffffff;
  border-radius: 4px;
  padding-left: 4px;
  padding-right: 4px;
  color: white;
}
.chat-message > .message-header .flavor-text .target-dc-result .adjusted.decreased {
  background: rgb(255, 0, 0);
  border: 1px solid #ffffff;
  border-radius: 4px;
  padding-left: 4px;
  padding-right: 4px;
  color: white;
}
.chat-message > .message-header .flavor-text .target-dc-result .degree-of-success .criticalSuccess {
  background: rgb(0, 128, 0);
  border: 1px solid #ffffff;
  border-radius: 4px;
  padding-left: 4px;
  padding-right: 4px;
  color: white;
}
.chat-message > .message-header .flavor-text .target-dc-result .degree-of-success .success {
  background: rgb(0, 0, 255);
  border: 1px solid #ffffff;
  border-radius: 4px;
  padding-left: 4px;
  padding-right: 4px;
  color: white;
}
.chat-message > .message-header .flavor-text .target-dc-result .degree-of-success .failure {
  background: rgb(255, 69, 0);
  border: 1px solid #ffffff;
  border-radius: 4px;
  padding-left: 4px;
  padding-right: 4px;
  color: white;
}
.chat-message > .message-header .flavor-text .target-dc-result .degree-of-success .criticalFailure {
  background: rgb(255, 0, 0);
  border: 1px solid #ffffff;
  border-radius: 4px;
  padding-left: 4px;
  padding-right: 4px;
  color: white;
}
.chat-message > .message-content .dice-roll .dice-result > [data-visibility=gm] {
  background: rgb(0, 0, 0, 0);
  border: 1px dotted rgb(111, 108, 102);
}
.chat-message.emote {
  background: rgba(79, 20, 20, 0.8);/*linear-gradient(45deg, rgb(19, 94, 160) 0%, rgb(18, 17, 69) 100%);*/
  border: 2px solid rgb(111, 108, 102);
}
.chat-message.blind {
  background: rgba(20, 71, 79, 0.8);/*linear-gradient(45deg, rgb(19, 94, 160) 0%, rgb(18, 17, 69) 100%);*/
  border: 2px solid rgb(111, 108, 102);
}


form .form-group span.units,
form .form-group.slim .form-fields > label {
  color: rgba(255, 255, 255, 0.65);
}
.app.token-sheet .tab.active[data-tab=appearance] fieldset > legend {
  color: rgba(255, 255, 255, 0.9);
}
.dice-roll .dice-formula,
.dice-roll .dice-total {
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.9);
  border-radius: 3px;
  box-shadow: 0 0 2px #FFF inset;
}
footer.nue {
  border-top: 2px groove var(--color-border-light-highlight);
  color: rgba(255, 255, 255, 0.75);
}
a[href],
a.nue-tab,
a.nue-action {
  color: rgba(255, 98, 208, 0.9);
}
.chat-message .message-header .flavor-text .modifiers .tag[data-visibility=gm] {
  background: rgb(45, 79, 106);
  border-radius: 4px;
  box-shadow: none;
  border-width: 1px;
}
.tags .tag.tag_transparent,
.tags .tag option.tag_transparent {
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid rgb(135, 189, 204);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.9);
}

/* Dropdown colour*/
.crb-style select {
  background-color: rgb(39, 16, 39);
  border: 1px solid rgba(255, 255, 255, 0.701);
  color: rgba(255, 255, 255, 0.9);
}
.crb-style select[data-action="link-ammo"] {
  background-color: rgb(39, 16, 39);
  border: 1px solid rgba(255, 255, 255, 0.701);
  color: rgba(255, 255, 255, 0.9);
}

button[data-action="auxiliary-action"]{
  background-color: rgb(39, 16, 39);
  border: 1px solid rgba(255, 255, 255, 0.701);
  color: rgba(255, 255, 255, 0.9);
}

/* Encounter, Exploration, Downtime Background colour*/
.actor.sheet section.window-content form.crb-style nav.sub-nav {
  background-color: rgb(12, 25, 43);
}

/* Encounter, Exploration, Downtime Text colour*/
.actor.sheet section.window-content form.crb-style nav.sub-nav a:hover, .actor.sheet section.window-content form.crb-style nav.sub-nav a.active {
  color: rgb(255, 255, 255, 0.9);
}
.actor.sheet section.window-content form.crb-style nav.sub-nav a {
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  color: rgb(195, 195, 195);
}

/* Strike, Map, Crit etc Text colour*/
.tags .tag,
.tags .tag option {
  background-color: rgb(45, 79, 106);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.9);
  color: var(--color-text-trait);
}
.tags .tag[data-action="strike-damage"],
.tags .tag[data-action="strike-critical"] {
  background-color: rgb(118, 6, 6);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.9);
  color: var(--color-text-trait);
}

.filepicker .favorites .path {
  background: rgb(39, 16, 39);
}

.result-image img {
  filter: invert(1);
}

.crb-style .details-input {
  color: rgba(255, 255, 255, 0.9);
  background-color: rgba(28, 28, 28, 0.1);
}
.actor.sheet.character section.window-content .crb-style .sheet-body .sheet-content > .tab.active.pfs > section.level-bump .details-input {
  display: none; /* Hide the checkbox */
}
.cards-config a.card-control {
  color: rgba(255, 255, 255, 0.9);
}
.cards-config a.card-control[disabled] {
  color: rgba(255, 255, 255, 0.65);
}
.actor.sheet section.window-content form.crb-style section.major > header a,
.actor.sheet section.window-content form.crb-style section.major > .subsection > header a {
  color: rgba(255, 255, 255, 0.9);
}
.actor.sheet.character section.window-content .crb-style .sheet-body .sheet-content > .tab.active.pfs > section.level-bump .toggle-label {
  position: relative;
  display: inline-block;
  cursor: pointer;
  width: 50px; /* Adjust as needed */
  height: 20px; /* Adjust as needed */
}

/* Show "ON" when the checkbox is checked */
.actor.sheet.character section.window-content .crb-style .sheet-body .sheet-content > .tab.active.pfs > section.level-bump .details-input:checked ~ .toggle::before {
  content: "ON";
  color: rgba(255, 255, 255, 0.9);
  position: absolute;
  left: 6px;
  z-index: 0;
}

/* Show "OFF" when the checkbox is not checked */
.actor.sheet.character section.window-content .crb-style .sheet-body .sheet-content > .tab.active.pfs > section.level-bump .details-input:not(:checked) ~ .toggle::after {
  content: "OFF";
  color: rgba(255, 255, 255, 0.9);
  position: absolute;
  right: 6px;
  z-index: 0;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.15);
}


.tags .tag.tag_secondary,
.tags .tag option.tag_secondary {
  background-color: rgb(45, 79, 106);
}

/* Sheath, Drop, etc Text colour*/
.actor.sheet section.window-content form.crb-style .sheet-body .sheet-content .tab.actions ol.actions-list li.action button.use-action:not(:disabled), .actor.sheet section.window-content form.crb-style .sheet-body .sheet-content .tab.actions ol.actions-list li.strike button.use-action:not(:disabled) {
  background: rgb(39, 16, 39);
  cursor: pointer;
}
.actor.sheet section.window-content form.crb-style .sheet-body .sheet-content .tab.actions ol.actions-list li.action button.use-action:not(:disabled):hover, .actor.sheet section.window-content form.crb-style .sheet-body .sheet-content .tab.actions ol.actions-list li.strike button.use-action:not(:disabled):hover {
  box-shadow: inset 0 0 0 1px rgb(255, 255, 255), inset 0 0 0 2px rgba(255, 255, 255, 0.701);
}

/* Inventory Tab*/
/* Inventory Background Header Text colour*/
.actor.sheet section.window-content .currency,
.actor.sheet section.window-content .inventory .inventory-list > header,
.actor.sheet section.window-content .inventory .total-bulk,
.actor.sheet section.window-content .wealth {
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.096), inset 0 0 0 2px rgba(255, 255, 255, 0.096);
  background-color: rgb(20, 54, 79);
}

/* Inventory Text Hovor colour*/
.actor.sheet section.window-content .inventory ul.items > li > .data .item-name h3:hover,
.actor.sheet section.window-content .inventory ul.items > li > .data .item-name h4:hover {
  color: rgb(255, 255, 255, 0.616);
}

/* Equip icons colour - edit, bin*/
.actor.sheet section.window-content .inventory ul.items > li > .data .item-controls {
  color: rgb(255, 255, 255, 0.9);
}
/* Equip icons colour - equiped*/
.actor.sheet section.window-content .inventory ul.items > li > .data .item-controls > a.toggle-invested.active, .actor.sheet section.window-content .inventory ul.items > li > .data .item-controls > a.item-carry-type.active {
  color: rgba(255, 255, 255, 0.336);
}
.actor.sheet section.window-content .inventory ul.items > li > .data .item-controls > a.toggle-invested, .actor.sheet section.window-content .inventory ul.items > li > .data .item-controls > a.item-carry-type {
  color: rgba(255, 255, 255, 0.336);
}

/* Quantity Text colour*/
.actor.sheet section.window-content .inventory ul.items > li > .data .item-name .uses {
  color: rgb(255, 255, 255, 0.9);
}

/* Currency Buttons*/
.actor.sheet section.window-content .currency li > button {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25), inset 0 0 0 1px rgba(255, 255, 255, 0.25), 0 0 3px rgba(0, 0, 0, 0.5);
  color: rgba(0, 0, 0, 0.75);
}

/* Currency Images*/
.actor.sheet section.window-content .currency .denomination .currency-image {
  box-shadow: 0 0 0 1px rgb(255, 255, 255), 0 0 0 2px var(--tertiary), 0 0 0 3px rgb(255, 255, 255);
  height: 1.5rem;
  width: 1.5rem;
  background-size: cover !important;
}

/* Inventory Expanded Description Background Colour */
.actor.sheet section.window-content .inventory ul.items > li .item-summary {
  background: rgba(255, 255, 255, 0);
  border-bottom: 1px solid var(--color-pf-alternate);
  border-top: 1px solid var(--color-pf-alternate);
}

/* Encumberance Images*/
.actor.sheet section.window-content .inventory .encumbrance img {
  box-shadow: 0 0 0 1px var(--tertiary), 0 0 0 2px #ffffff, inset 0 0 var(--inset-shadow-length) rgba(0, 0, 0, 0.5);
}

/* Encumberance Bar Colour*/
.actor.sheet section.window-content .inventory .encumbrance .encumbrance-bar {
  background-color: rgb(12, 25, 43);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.5), inset 0 0 0 2px rgba(255, 255, 255, 0.2);
}

/* Spellcasting Tab*/
/* Spell Header*/
.actor.sheet section.window-content form.crb-style .sheet-body .sheet-content .directory-list .action-header {
  background: rgb(20, 54, 79);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.3), inset 0 0 0 2px rgba(255, 255, 255, 0.2);
}

/* DC Text Colour*/
.actor.sheet.character section.window-content .crb-style .sheet-body .sheet-content > .tab.active.spellcasting .spellcasting-entry .spell-ability-data .skill-score {
  color: rgb(213, 239, 255, 0.9);
}

/* Spell Text Hovor Color Button */
.actor.sheet section.window-content form.crb-style .sheet-body .sheet-content ol.spell-list > li .item-name h4 > a:hover {
  color: rgba(255, 255, 255, 0.616);
  text-shadow: none;
}

/* Cast Spell Button */
.actor.sheet section.window-content button.blue {
  background: rgb(148, 37, 93);
  border: 1px solid rgb(255, 255, 255);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.5);
}

/* Spell Count background colour*/
.actor.sheet section.window-content form.crb-style .sheet-body .sheet-content ol.spell-list > li.header-row input,
.actor.sheet section.window-content form.crb-style .sheet-body .sheet-content ol.spell-list > li .uses input {
  background: rgba(148, 37, 92, 0.753);
  border: 1px solid rgb(255, 255, 255);
  color: var(--text-light);
}

/* Spell Rank Header Background colour */
.actor.sheet section.window-content form.crb-style .sheet-body .sheet-content ol.spell-list > li.header-row {
  background: rgba(96, 88, 86, 0.25);
  border: 1px solid var(--color-border-light-2);
}

/* Spell DC Dice colour */
.actor.sheet.character section.window-content .crb-style .sheet-body .sheet-content > .tab.active.spellcasting .spellcasting-entry .rollable .d20-svg path {
  fill: rgb(255, 255, 255);
}

/* Spell Used Text colour */
.actor.sheet section.window-content form.crb-style .sheet-body .sheet-content ol.spell-list > li.spell[data-slot-expended] h4 {
  color: rgba(255, 255, 255, 0.616);
}

/* Crafting Tab*/
/* Text Colour*/
.actor.sheet.character section.window-content .crb-style .sheet-body .sheet-content > .tab.active.crafting li.known-formulas ol.formula-list li.formula-level-header.formula-level-header,
.actor.sheet.character section.window-content .crb-style .sheet-body .sheet-content > .tab.active.crafting li.known-formulas ol.formula-list li.formula-item.formula-level-header,
.actor.sheet.character section.window-content .crb-style .sheet-body .sheet-content > .tab.active.crafting li.crafting-entry ol.formula-list li.formula-level-header.formula-level-header,
.actor.sheet.character section.window-content .crb-style .sheet-body .sheet-content > .tab.active.crafting li.crafting-entry ol.formula-list li.formula-item.formula-level-header {
  background: rgba(96, 88, 86, 0.25);
  color: rgb(255, 255, 255, 0.9);
}

/* Text Hovor Colour*/
.actor.sheet.character section.window-content .crb-style .sheet-body .sheet-content > .tab.active.crafting li.known-formulas ol.formula-list li.formula-level-header .level-name h4:hover,
.actor.sheet.character section.window-content .crb-style .sheet-body .sheet-content > .tab.active.crafting li.known-formulas ol.formula-list li.formula-level-header .item-name h4:hover,
.actor.sheet.character section.window-content .crb-style .sheet-body .sheet-content > .tab.active.crafting li.known-formulas ol.formula-list li.formula-item .level-name h4:hover,
.actor.sheet.character section.window-content .crb-style .sheet-body .sheet-content > .tab.active.crafting li.known-formulas ol.formula-list li.formula-item .item-name h4:hover,
.actor.sheet.character section.window-content .crb-style .sheet-body .sheet-content > .tab.active.crafting li.crafting-entry ol.formula-list li.formula-level-header .level-name h4:hover,
.actor.sheet.character section.window-content .crb-style .sheet-body .sheet-content > .tab.active.crafting li.crafting-entry ol.formula-list li.formula-level-header .item-name h4:hover,
.actor.sheet.character section.window-content .crb-style .sheet-body .sheet-content > .tab.active.crafting li.crafting-entry ol.formula-list li.formula-item .level-name h4:hover,
.actor.sheet.character section.window-content .crb-style .sheet-body .sheet-content > .tab.active.crafting li.crafting-entry ol.formula-list li.formula-item .item-name h4:hover {
  color: rgb(255, 255, 255, 0.616);
}

/* Proficiencies Tab*/
/* Modifier Colour*/
.actor.sheet.character section.window-content .crb-style .sheet-body .sheet-content > .tab.active.proficiencies ul.proficiencies-list li a.hover,
.actor.sheet.character section.window-content .crb-style .sheet-body .sheet-content > .tab.active.proficiencies ul.proficiencies-list li .modifier,
.actor.sheet.character section.window-content .crb-style .sheet-body .sheet-content > .tab.active.proficiencies ul.proficiencies-list li .dc {
  color: rgb(213, 239, 255, 0.9);
  text-decoration-color: rgb(213, 239, 255);
}

/* Input Text Colour*/
input[type="text"],
input[type="number"],
input[type="password"],
input[type="date"],
input[type="time"],
input[type="search"] {
  background: rgba(7, 7, 7, 0.318);
  color: rgb(255, 255, 255, 0.9);
}
input[type="text"]::placeholder,
input[type="number"]::placeholder,
input[type="password"]::placeholder,
input[type="date"]::placeholder,
input[type="time"]::placeholder,
input[type="search"]::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
#tooltip.pf2e,
aside.locked-tooltip.pf2e {
  border: 2px solid white;
  padding: 4px;
  border-image: none;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  background: rgba(0, 0, 0, 0.5);
}
/*
.tooltipster-base {
  border: 2px solid white;
  border-image: none;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  background: rgba(0, 0, 0, 0.5);
}*/
.crb-hover .tooltipster-box {
  border: 2px solid white;
  border-image: none;
  box-shadow: 0 0 20px rgba(38, 6, 46, 0.9);
  background: rgba(38, 6, 46, 0.9);
  color: rgba(255, 255, 255, 0.9);
}
.crb-hover .tooltipster-box .tooltipster-content .hover-content.manage-tabs ul li label {
  color: rgba(255, 255, 255, 0.9);
}





/* Trained, Expert, Master etc Colour*/
.actor.sheet.character section.window-content .crb-style .pf-rank {
  background: var(--color-proficiency-untrained);
  border: 1px solid rgba(255, 255, 255, 0.712);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.15);
  color: var(--text-light);
}

/* Feats Tab*/
/* Text Level Colour*/
.actor.sheet.character section.window-content .crb-style .sheet-body .sheet-content > .tab.active.feats ol.feats-list li.slot .item-name .feat-slot-title {
  color: rgb(255, 255, 255, 0.9);
}

.actor.sheet.character section.window-content .crb-style aside .sidebar header button {
  background: rgb(20, 54, 79);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.4);
  color: rgb(255, 255, 255, 0.9);
}

a.content-link,
a.inline-roll {
  background: rgb(45, 79, 106);
  border: 1px solid rgb(135, 189, 204);
}

/* Pop Up Window*/
/* Pop Up, Spell, Effects Inline Colour*/
.actor.sheet section.window-content .item-summary .description .addendum {
  background: rgba(68, 55, 48, 0.1);
  border-radius: 2px;
  color: rgb(255, 255, 255, 0.9);
}
a.content-link i,
a.inline-roll i {
  color: rgb(255, 255, 255, 0.9);
  margin-right: 0.25em;
}
.tagify__dropdown__wrapper {
  background: rgb(39, 16, 39);
  border: 1px solid;
  border-color: #ffffff;
  box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.2);
  color: rgba(255, 255, 255, 0.9);
}
.app.tag-selector form input[type=search],
.app.tag-selector form input[type=text] {
  background: rgb(39, 16, 39);
  color: rgba(255, 255, 255, 0.9);
}

/* Pop Up Window*/
/* Attribute Builder*/
.attribute-builder .window-content .row-column button[data-action="flaw"] {
  color: rgba(255, 255, 255, 0.9);
  background-color: rgb(0, 0, 0, 0.5);
  border-color: rgba(255, 255, 255, 0.577);
}
.attribute-builder .window-content .row-column button.selected[data-action="flaw"] {
  color: rgba(255, 255, 255, 0.9);
  background-color: rgb(94, 0, 0);
  border-color: rgba(255, 255, 255, 0.577);
}
.attribute-builder .window-content .row-column button.selected {
  color: rgba(255, 255, 255, 0.9);
  background: rgb(45, 79, 106);
  background-color: rgb(45, 79, 106);
  border-color: rgb(135, 189, 204);
}
.attribute-builder .window-content .row-column button {
  border: 1px solid rgb(135, 189, 204);
  color: rgba(255, 255, 255, 0.9);
}
.attribute-builder .window-content .summary-row button.complete {
  color: rgba(255, 255, 255);
  background: rgb(39, 16, 39);
  border: 1px solid rgba(255, 255, 255);
}
.attribute-builder .window-content .summary-row .hint-container h3 {
  color: rgba(255, 255, 255, 0.9);
  border-color: rgba(255, 255, 255);
}
.attribute-builder .window-content h4,
.attribute-builder .window-content .title {
  color: rgba(255, 255, 255, 0.9);
}

/* Pop Up Window*/
/* Dice Roller */
.roll-modifiers-dialog .roll {
  color: rgba(255, 255, 255, 0.9);
  background-color: rgb(39, 16, 39);
}
.roll-modifiers-dialog .window-header {
  box-shadow: inset 0 0 0 4px rgba(255, 255, 255, 0), /* Fully transparent */
  inset 0 0 0 3px rgba(255, 255, 255, 0.33), /* Slightly opaque */
  inset 0 0 0 2px rgba(255, 255, 255, 0.66), /* More opaque */
  inset 0 0 0 1px rgba(255, 255, 255, 1); /* Fully opaque white */
  background: linear-gradient(90deg, rgb(39, 16, 39) 0%, rgb(78, 30, 78) 50%, rgb(39, 16, 39) 100%);
}
.roll-modifiers-dialog .window-content {
  border-style: solid;
  border-image-outset: 0;
  border-width: 1px;
  border-image: none;
  box-shadow: inset 0 0 0 4px rgba(255, 255, 255, 0), /* Fully transparent */
  inset 0 0 0 3px rgba(255, 255, 255, 0.33), /* Slightly opaque */
  inset 0 0 0 2px rgba(255, 255, 255, 0.66), /* More opaque */
  inset 0 0 0 1px rgba(255, 255, 255, 0.9); /* Fully opaque white */
  padding-top: 0;
}
.roll-modifiers-dialog .toggle {
  background: rgb(39, 16, 39);
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
}
.roll-modifiers-dialog .substitutions .dialog-row .tag,
.roll-modifiers-dialog .modifier-container .dialog-row .tag {
  background-color: rgb(45, 79, 106);
  box-shadow: 0 2px 4px -2px rgba(135, 189, 204, 0.2);
  color: rgba(255, 255, 255, 0.9);
  border-color: rgb(135, 189, 204);
  border-style: solid;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
}
.roll-modifiers-dialog button {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.3), inset 0 0 0 2px rgba(255, 255, 255, 0.2);
  background-color: rgb(39, 16, 39);
  color: rgba(255, 255, 255, 0.9);

}


button[type="submit"] {
  color: rgba(255, 255, 255, 0.888);
}
.app.tag-selector form > footer {
  border-top: var(--space-2) groove var(--color-text-light-0);
  display: flex;
  flex-direction: column;
  gap: var(--space-8);
  margin-top: auto;
  border-top-width: 0px;
}

/* Window Text Colour*/
.window-app .window-content {
  background: linear-gradient(45deg, rgba(160, 19, 79, 0.85) 0%, rgba(50, 17, 69, 0.85) 100%); /*url(../art/character-sheet/background.webp) repeat;*/
  color: rgba(255, 255, 255, 0.9);
}
.sheet.journal-entry .journal-entry-content {
  background: linear-gradient(45deg, rgba(160, 19, 79, 0.9) 0%, rgba(50, 17, 69, 0.9) 100%); /*url(../art/character-sheet/background.webp) repeat;*/
  border: 2px solid rgba(255, 255, 255, 0.9);
}
.sheet.familiar form {
  background: linear-gradient(45deg, rgba(160, 19, 79, 0.9) 0%, rgba(50, 17, 69, 0.9) 100%); /*url(../art/character-sheet/background.webp) repeat;*/
  background-attachment: local;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 4px 6px 0;
}
.sheet.familiar .section-container .section-header {
  background: rgb(20, 54, 79);
  border-radius: 3px 3px 0 0;
  border: 1px solid rgb(255, 255, 255);
  color: rgba(255, 255, 255, 0.9);
}
.sheet.familiar .section-container .section-body {
  border-radius: 3px 3px 0 0;
  border: 1px solid rgb(255, 255, 255);
}
.sheet.familiar .familiar-section .detail label {
  color: rgba(255, 255, 255, 0.9);
}
.sheet.familiar header .header-content .charname input {
  border-bottom: 1px solid rgb(255, 255, 255);
  color: rgba(255, 255, 255, 0.9);
}
.sheet.familiar header .header-content .traits span {
  color: rgba(255, 255, 255, 0.9);
  background-color: rgb(45, 79, 106);
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.sheet.actor.loot form section.content .inventory .wealth {
  background-color: rgb(20, 54, 79);
  color: var(--text-light);
  border: 2px solid rgb(255, 255, 255, 0.5);
}
.sheet.actor.loot form section.content .inventory .inventory-list > header {
  background-color: rgb(20, 54, 79);
  color: var(--text-light);
  border: 2px solid rgb(255, 255, 255, 0.5);
}
.sheet.actor.loot form section.sidebar .gm-settings .loot-distribution button {
  background-color: rgb(20, 54, 79);
  color: var(--text-light);
  border: 2px solid rgb(255, 255, 255, 0.5);
  border-radius: 4px;
}
.sheet.actor.loot form .sheet-header .sheet-type .type,
.sheet.actor.loot form .sheet-header .sheet-type .type option {
  background-color: rgb(20, 54, 79);
  color: var(--text-light);
  border: 2px solid rgb(255, 255, 255, 0.5);
  border-radius: 4px;
}

.actor.sheet.vehicle .crb-style aside .hitpoints .hp-big .container.current-hp {
  background-color: #14364f;
  background-image: linear-gradient(90deg, #14364f 0%, rgb(40, 98, 138) 50%, #14364f 100%);
  border: 1px solid rgb(255, 255, 255);
}
.actor.sheet.vehicle .crb-style aside header h2 {
  color: rgb(255, 255, 255, 0.9);
}
.actor.sheet.vehicle .crb-style aside header .modifiers_button,
.actor.sheet.vehicle .crb-style aside header h2 {
  border-bottom: 1px solid rgb(255, 255, 255, 0.9);
}
.actor.sheet section.window-content .size-select {
  border: 2px solid rgb(255, 255, 255, 0.9);
  color: rgb(255, 255, 255, 0.9);
}
.actor.sheet.vehicle .crb-style aside .sidebar_label {
  color: rgb(255, 255, 255, 0.9);
}
.actor.sheet.vehicle .crb-style aside {
  color: rgb(255, 255, 255, 0.9);
}
.actor.sheet section.window-content .rarity-select {
  border: 2px solid rgb(255, 255, 255, 0.9);
  color: rgb(255, 255, 255, 0.9);
}

.sheet.party form {
  background: linear-gradient(45deg, rgba(160, 19, 79, 0.85) 0%, rgba(50, 17, 69, 0.85) 100%); /*url(../art/character-sheet/background.webp) repeat;*/
  background-size: cover;
  background-attachment: local;
}
.sheet.party form > header {
  background: url("../art/character-sheet/header.webp");
  background-repeat: repeat-x, no-repeat;
  background-size: cover;
  background-color: none;
  color: var(--text-light);
}
.sheet.party nav.sub-nav {
  background-color: rgb(12, 25, 43);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
}
.sheet.party nav.sub-nav a {
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  color: rgba(255, 255, 255, 0.66);
}
.sheet.party nav.sub-nav a:hover, .sheet.party nav.sub-nav a.active {
  color: rgb(255, 255, 255, 0.9);
}
.sheet.party header.content-header {
  background-color: rgb(20, 54, 79);
  color: rgb(255, 255, 255, 0.9);
}
.sheet.party header.content-header button {
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid rgb(255, 255, 255, 0.9);
  border-radius: 4px;
  color: rgb(255, 255, 255, 0.9);
}
.tagify__input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.pf2e.item.sheet form .sheet-body .tab.active.description .editor a.add-gm-notes,
.pf2e.item.sheet form .sheet-body .tab.active.description .editor a.editor-edit {
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid rgb(255, 255, 255, 0.9);
  border-radius: 4px;
  box-shadow: 0 0 1px rgb(255, 255, 255, 0.9);
}

.sf2eplaytest {
  color: rgb(255, 255, 255, 0.9) !important;
  font-family: Good OT;
  font-size: 12pt;
  line-height: 1.4em;
  padding-bottom: 2em;
  padding-top: 1em;
  --color-text-hyperlink: rgb(255, 255, 255, 0.818) !important
}
.sf2eplaytest h1 {
  color: #6ca0cc;
}
.sf2eplaytest h2,.sf2eplaytest h3 {
  color: #a176eb;
}

.directory .directory-header .header-search input {
  background: rgba(0, 0, 0, 0.5);
}
/* Heading Text Colour*/
.pf2e.item.sheet form > header input[type=text],
.pf2e.item.sheet form > header input[type=number],
.pf2e.item.sheet form > header tagify-tags {
  color: rgb(255, 255, 255, 0.9);
}
/* Description - Sidebar Text */
.pf2e.item.sheet form .sheet-content section.sidebar .item-summary,
.pf2e.item.sheet form .sheet-content section.sidebar .tags-title {
  color: rgb(255, 255, 255, 0.9);
}
/* Dropdown Text Colour*/
.pf2e.item.sheet form .sheet-content input:disabled,
.pf2e.item.sheet form .sheet-content select:disabled {
  color: rgb(255, 255, 255, 0.9);
  opacity: 0.8;
}
/* Dropdown Text Colour*/

.pf2e.item.sheet form .sheet-content input[type=number],
.pf2e.item.sheet form .sheet-content input[type=text] {
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid rgb(255, 255, 255);
}
input[type="checkbox"]:checked,
input[type="radio"]:checked,
.pf2e.item.sheet form .sheet-content input[type=checkbox],
.pf2e.item.sheet form .sheet-content select {
  background: rgb(39, 16, 39);
  background-color: rgb(39, 16, 39);
  accent-color: rgb(39, 16, 39);
  border: 1px solid rgb(255, 255, 255);
}
/* Details Tab - Text Colour*/
.pf2e.item.sheet form .sheet-body .tab.active label {
  color: rgb(255, 255, 255, 0.9);
}
/* Details Tab - Button Disabled Colour*/
button:disabled {
  color: rgb(255, 255, 255, 0.9);
  opacity: 0.8;
}
/* Details Tab - Input Text*/
.pf2e.item.sheet form .sheet-content input {
  color: rgb(255, 255, 255, 0.9);
}
/* Hint, Notes Text Colour */
form .notes,
form .hint {
  color: rgb(255, 255, 255, 0.9);
}
/* Mystification - Display Details Background */
.pf2e.item.sheet form .sheet-body .tab.mystification.active .form-group.unidentified .editor {
  background: rgba(0, 0, 0, 0.25);
  padding: 0.25rem;
  min-height: 100px;
  min-width: 100%;
  flex-basis: 100%;
}
/* Rules - Roll Options Text */
.pf2e.item.sheet form.locked a[data-action] {
  color: rgb(255, 255, 255, 0.9);
}

button[data-action="badge-add"] {
  color: rgba(255, 255, 255, 0.888);
}
button[data-action="badge-add-label"] {
  color: rgba(255, 255, 255, 0.888);
}
button[data-action="revert-damage"] {
  color: rgba(255, 255, 255, 0.888);
  background: rgba(0, 0, 0, 0.5);
}
.chat-message .message-content .damage-taken button.revert-damage {
  background: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.888);
  border: 1px solid rgb(255, 255, 255);
}
.chat-message .message-content .damage-taken .persistent h4 {
  border-bottom: 1px solid rgb(255, 255, 255);
  max-width: fit-content;
}
select.badge-type {
  color: rgba(255, 255, 255, 0.888);
}
/* Inline rolls and effects in the chat window text colour */
a.content-link,
a.content-link i,
a.inline-roll.roll,
a.inline-roll.roll i,
a.inline-roll.roll span {
  color: rgba(255, 255, 255, 0.888);
}
/* Button Background Colour */
form button {
  background: rgba(0, 0, 0, 0.5);
}
/* Dropdown Button Hovor Border Colour */
.pf2e.item.sheet form .sheet-content button:hover:not(:disabled), .pf2e.item.sheet form .sheet-content button:focus,
.pf2e.item.sheet form .sheet-content input:not([type=range]):hover:not(:disabled),
.pf2e.item.sheet form .sheet-content input:not([type=range]):focus,
.pf2e.item.sheet form .sheet-content select:hover:not(:disabled),
.pf2e.item.sheet form .sheet-content select:focus {
  border-color: rgba(255, 255, 255, 0.616);
  box-shadow: 0 0 4px rgba(255, 255, 255, 0.888);
}

option,
optgroup {
  background: rgb(39, 16, 39);
}
.pf2e.item.sheet form .sheet-content select {
  background: rgb(39, 16, 39);
  border: 1px solid rgb(255, 255, 255);
}

input[type="checkbox"]:not(:checked) {
  opacity: 0.5; /* Reduced opacity when unchecked */
}

/* Target all select elements */
select {
  color: rgb(255, 255, 255, 0.9); /* Text color for the select box */
  background-color: rgb(39, 16, 39);
}
select.roll-type-select[aria-label="Roll Visibility"] {
  color: rgba(0, 0, 0, 0.9); /* Text color for the select box */
  background-color: rgb(39, 16, 39);
}
select.roll-type-select[aria-label="Roll Visibility"] optgroup[label="Default Roll Mode"] {
  color: rgba(255, 255, 255, 0.9); /* Text color for the optgroup label */
}

/* Target the option elements within all select elements */
select option {
  color: rgb(255, 255, 255, 0.9); /* Text color for the options */
}

button[data-action="double-damage"] img,
button[data-action="half-damage"] img {
  filter: invert(1);
  fill: white;
}
.chat-message .message-content .damage-application button.half-damage i.fa-heart-broken {
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.526) 50%, rgb(255, 255, 255) 50%);
}

/* Target all input elements within .form-fields */
.form-fields input::placeholder {
  color: rgb(255, 255, 255, 0.9);
  opacity: 0.65;
}
/* Target all textarea elements */
textarea[name="system.rules.0"] {
  color: rgba(255, 255, 255, 0.888);
}
input::placeholder {
  color: rgb(255, 255, 255, 0.9);
  opacity: 0.65;
}
input:disabled {
  background-color: rgba(0, 0, 0, 0.5);
  color: rgb(255, 255, 255, 0.9);
  opacity: 0.65;
}

/* Inline Check Colour */
a.inline-check,
span[data-pf2-check] {
  background: rgb(45, 79, 106);
  border: 1px solid rgb(135, 189, 204);
  color: rgb(255, 255, 255, 0.9);
}
a.inline-check > i.icon,
span[data-pf2-check] > i.icon {
  color: rgba(255, 255, 255, 0.818);
}
i[data-pf2-repost] {
  background: var(--inline-repost-bg);
  color: rgba(255, 255, 255, 0.818);
  border-left: 1px solid rgba(255, 255, 255, 0.818);
  border-bottom: 1px solid rgba(255, 255, 255, 0.818);
  background: rgb(27, 48, 64)
}
span[data-pf2-effect-area] {
  background: rgb(45, 79, 106);
  border: 1px solid rgb(135, 189, 204);
  color: rgb(255, 255, 255, 0.9);
}

.app {
  max-height: 100%;
  box-shadow: 0 0 20px var(--color-shadow-dark);
  color: var(--color-text-light-highlight);
}

/* Biography Tab*/
/* Text Colour*/
.crb-style .details-label {
  color: rgb(255, 255, 255, 0.9);
}
/* Hover Colour*/
.actor.sheet.character section.window-content .crb-style .sheet-body .sheet-content > .tab.active.feats ol.feats-list li.slot .item-name h4:hover {
  color: rgba(255, 255, 255, 0.616);
  text-shadow: 0 0 3px var(--color-pf-tertiary);
}

/* Text Input Background Colour*/
.actor.sheet.character section.window-content .crb-style .sheet-body .sheet-content > .tab.active.biography section.editable .editor,
.actor.sheet.character section.window-content .crb-style .sheet-body .sheet-content > .tab.active.biography section.editable input {
  background: rgba(0, 0, 0, 0.337);
}

/* Text Edit Header Background Colour*/
.prosemirror menu {
  background: rgba(255, 255, 255, 0.273);
}

/* NPC Sheet*/
/* Colours */
.actor.npc.sheet form a.roll {
  color: rgb(255, 255, 255, 0.9);
}
.pf2e.actor form input[type=text], .pf2e.actor form input[type=number] {
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid transparent;
  color:rgb(255, 255, 255, 0.9);
}
.actor.npc.sheet form .empty {
  color: rgb(255, 255, 255, 0.9);
}
.actor.npc.sheet form .notes.active .notes-section > h4 {
  color: rgb(255, 255, 255, 0.9);
  border-bottom: 2px solid rgb(255, 255, 255, 0.5);
}
.actor.npc.sheet form .notes.active .notes-section > .notes-text {
  color: rgb(255, 255, 255, 0.9);
}
.prosemirror menu .pm-dropdown {
  background: rgba(0, 0, 0, 0.5);
}
.actor.npc.sheet form .sheet-body .section-container .section-header {
  background:  rgb(20, 54, 79);
  border: 2px solid rgb(255, 255, 255, 0.5);
  color: var(--text-light);
}
.actor.npc.sheet form .sheet-body .entries-list .spellcasting-entry .header {
  background-color: rgb(20, 54, 79);
  color: var(--text-light);
  border: 2px solid rgb(255, 255, 255, 0.5);
}
.sidebar{
  background: url(../art/character-sheet/red_sidebar_top.webp) no-repeat;
  background-size: cover;
  background-clip: none;
}

.sheet-content .sidebar {
  background: none;
  background-size: cover;
  background-clip: none;
}

.actor.npc.sheet form .sheet-body .tab.inventory.active .coinage .wealth,
.actor.npc.sheet form .sheet-body .tab.inventory.active header {
  background: rgb(20, 54, 79);
}
.pf2e.actor form {
  padding: 0px;
}
.actor.npc.sheet form .adjustments .adjustment:not(.active),
.actor.npc.sheet form .trait {
  background: rgb(20, 54, 79);
  border: 2px solid rgb(255, 255, 255, 0.5);
  color: var(--color-text-trait);
}
.actor.npc.sheet form ol.spell-list > li.header-row input,
.actor.npc.sheet form ol.spell-list > li .uses input {
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid var(--sub);
  border-radius: 3px;
  color: var(--text-light);
}
.actor.npc.sheet form ol.spell-list > li.spell[data-slot-expended] h4 {
  color: rgba(255, 255, 255, 0.616);
  text-decoration: line-through;
}
.actor.sheet section.window-content .item-image.framed {
  background-color: rgba(0, 0, 0, 0.5);
}
.actor.npc.sheet form .sheet-body .entries-list .spellcasting-entry .header .inline-field .attack-input,
.actor.npc.sheet form .sheet-body .entries-list .spellcasting-entry .header .inline-field .dc-input {
  background-color: rgba(0, 0, 0, 0.5);
}

:root .damage {
  --color-bg-acid: rgb(0, 131, 0);
  --color-bg-bleed: rgb(134, 0, 0);
  --color-bg-chaotic: rgba(255, 255, 255, 0.342);
  --color-bg-cold: #2f2fa6;
  --color-bg-electricity: darkgoldenrod;
  --color-bg-evil: indigo;
  --color-bg-fire: #a62f00;
  --color-bg-force: #6300aa;
  --color-bg-good: #9d730a;
  --color-bg-lawful: #402600;
  --color-bg-mental: midnightblue;
  --color-bg-physical: #3c3c3c;
  --color-bg-poison: #3c580b;
  --color-bg-sonic: rgb(0, 94, 94);
  --color-bg-spirit: #0e0091;
  --color-bg-vitality: #888800;
  --color-bg-void: #00001f;
  
  --color-border-acid: #deffdee7;
  --color-border-bleed: #ffdce2;
  --color-border-chaotic: #ffddff;
  --color-border-cold: #dedeff;
  --color-border-electricity: #fff3d3;
  --color-border-evil: #efd8ff;
  --color-border-fire: #ffe6dc;
  --color-border-force: #f0dcff;
  --color-border-good: #fff4d8;
  --color-border-lawful: #fff3e1;
  --color-border-mental: #e2e2ff;
  --color-border-physical: #ffeaea;
  --color-border-poison: #eeffd2;
  --color-border-sonic: #daffff;
  --color-border-spirit: #dfdbff;
  --color-border-vitality: #ffffde;
  --color-border-void: #d7d7ff;

  --color-text-acid: #deffdee7;
  --color-text-bleed: #ffdce2;
  --color-text-chaotic: #ffddff;
  --color-text-cold: #dedeff;
  --color-text-electricity: #fff3d3;
  --color-text-evil: #efd8ff;
  --color-text-fire: #ffe6dc;
  --color-text-force: #f0dcff;
  --color-text-good: #fff4d8;
  --color-text-lawful: #fff3e1;
  --color-text-mental: #e2e2ff;
  --color-text-physical: #ffeaea;
  --color-text-poison: #eeffd2;
  --color-text-sonic: #daffff;
  --color-text-spirit: #dfdbff;
  --color-text-vitality: #ffffde;
  --color-text-void: #d7d7ff;
}
:root .damage.color.acid {
  background-color: var(--color-bg-acid);
  border-color: var(--color-border-acid);
  border-width: 2px;
  border-style: solid;
  border-radius: 4px;
  color: var(--color-text-acid);
}
:root .damage.color.acid i[class^=fa-] {
  color: var(--color-border-acid);
}
:root .damage.color.bleed {
  background-color: var(--color-bg-bleed);
  border-color: var(--color-border-bleed);
  color: var(--color-text-bleed);
  border-width: 2px;
  border-style: solid;
  border-radius: 4px;
}
:root .damage.color.bleed i[class^=fa-] {
  color: var(--color-border-bleed);
}
:root .damage.color.bludgeoning, :root .damage.color.piercing, :root .damage.color.slashing {
  background-color: var(--color-bg-physical);
  border-color: var(--color-border-physical);
  color: var(--color-text-physical);
  border-width: 2px;
  border-style: solid;
  border-radius: 4px;
  padding-left: 4px;
  padding-right: 4px;
}
:root .damage.color.bludgeoning i[class^=fa-], :root .damage.color.piercing i[class^=fa-], :root .damage.color.slashing i[class^=fa-] {
  color: var(--color-border-physical);
}
:root .damage.color.chaotic {
  background-color: var(--color-bg-chaotic);
  border-color: var(--color-border-chaotic);
  color: var(--color-text-chaotic);
  border-width: 2px;
  border-style: solid;
  border-radius: 4px;
}
:root .damage.color.chaotic i[class^=fa-] {
  color: var(--color-border-chaotic);
}
:root .damage.color.cold {
  background-color: var(--color-bg-cold);
  border-color: var(--color-border-cold);
  color: var(--color-text-cold);
  border-width: 2px;
  border-style: solid;
  border-radius: 4px;
}
:root .damage.color.cold i[class^=fa-] {
  color: var(--color-border-cold);
}
:root .damage.color.electricity {
  background-color: var(--color-bg-electricity);
  border-color: var(--color-border-electricity);
  color: var(--color-text-electricity);
  border-width: 2px;
  border-style: solid;
  border-radius: 4px;
}
:root .damage.color.electricity i[class^=fa-] {
  color: var(--color-border-electricity);
}
:root .damage.color.evil {
  background-color: var(--color-bg-evil);
  border-color: var(--color-border-evil);
  color: var(--color-text-evil);
  border-width: 2px;
  border-style: solid;
  border-radius: 4px;
}
:root .damage.color.evil i[class^=fa-] {
  color: var(--color-border-evil);
}
:root .damage.color.fire {
  background-color: var(--color-bg-fire);
  border-color: var(--color-border-fire);
  color: var(--color-text-fire);
  border-width: 2px;
  border-style: solid;
  border-radius: 4px;
}
:root .damage.color.fire i[class^=fa-] {
  color: var(--color-border-fire);
}
:root .damage.color.force {
  background-color: var(--color-bg-force);
  border-color: var(--color-border-force);
  color: var(--color-text-force);
  border-width: 2px;
  border-style: solid;
  border-radius: 4px;
}
:root .damage.color.force i[class^=fa-] {
  color: var(--color-border-force);
}
:root .damage.color.good {
  background-color: var(--color-bg-good);
  border-color: var(--color-border-good);
  color: var(--color-text-good);
  border-width: 2px;
  border-style: solid;
  border-radius: 4px;
}
:root .damage.color.good i[class^=fa-] {
  color: var(--color-border-good);
}
:root .damage.color.lawful {
  background-color: var(--color-bg-lawful);
  border-color: var(--color-border-lawful);
  color: var(--color-text-lawful);
  border-width: 2px;
  border-style: solid;
  border-radius: 4px;
}
:root .damage.color.lawful i[class^=fa-] {
  color: var(--color-border-lawful);
}
:root .damage.color.mental {
  background-color: var(--color-bg-mental);
  border-color: var(--color-border-mental);
  color: var(--color-text-mental);
  border-width: 2px;
  border-style: solid;
  border-radius: 4px;
}
:root .damage.color.mental i[class^=fa-] {
  color: var(--color-border-mental);
}
:root .damage.color.poison {
  background-color: var(--color-bg-poison);
  border-color: var(--color-border-poison);
  color: var(--color-text-poison);
  border-width: 2px;
  border-style: solid;
  border-radius: 4px;
}
:root .damage.color.poison i[class^=fa-] {
  color: var(--color-border-poison);
}
:root .damage.color.sonic {
  border-color: var(--color-border-sonic);
  background-color: var(--color-bg-sonic);
  color: var(--color-text-sonic);
  border-width: 2px;
  border-style: solid;
  border-radius: 4px;
}
:root .damage.color.sonic i[class^=fa-] {
  color: var(--color-border-sonic);
}
:root .damage.color.spirit {
  border-color: var(--color-border-spirit);
  background-color: var(--color-bg-spirit);
  color: var(--color-text-spirit);
  border-width: 2px;
  border-style: solid;
  border-radius: 4px;
}
:root .damage.color.spirit i[class^=fa-] {
  color: var(--color-border-spirit);
}
:root .damage.color.vitality {
  background-color: var(--color-bg-physical);
  border-color: var(--color-border-vitality);
  color: var(--color-text-vitality);
  text-shadow: 1px 1px var(--color-text-dark-1);
  border-width: 2px;
  border-style: solid;
  border-radius: 4px;
}
:root .damage.color.vitality i[class^=fa-] {
  color: var(--color-border-vitality);
}
:root .damage.color.void {
  background-color: var(--color-bg-void);
  border-color: var(--color-border-void);
  color: var(--color-text-void);
  border-width: 2px;
  border-style: solid;
  border-radius: 4px;
}
:root .damage.color.void i[class^=fa-] {
  color: var(--color-border-void);
}
.fa-duotone:after,.fad:after {
  color: rgb(255, 0, 0);
}
.fa-duotone:before,.fad:before {
  position: absolute;
  color: rgba(255, 255, 255, 0.9);
  opacity: var(--fa-primary-opacity,1)
}

/* Hazards */
.sheet.hazard section.window-content .section-container .section-header {
  background: rgb(20, 54, 79);
  border-radius: 3px 3px 0 0;
  border: 1px solid rgb(255, 255, 255);
  color: var(--text-light);
}
.sheet.hazard section.window-content .sidebar a.rollable {
  color: rgba(255, 255, 255, 0.9);
}
.sheet.hazard section.window-content .section-container.publication .section-header {
  background: none;
  color: rgba(255, 255, 255, 0.9);
}
.sheet.hazard section.window-content .section-container .section-body {
  border: 1px solid rgba(255, 255, 255, 0.9);
}

a.inline-roll.blindroll {
  background: rgb(45, 79, 106);
  border-color: rgb(135, 189, 204)
}

.sheet.hazard section.window-content form > header {
  align-items: center;
  background: rgb(12, 25, 43); /*url("../art/character-sheet/header.webp");*/
  background-blend-mode: multiply;
  background-color: none;
  background-repeat: repeat-x, no-repeat;
  background-size: cover;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  color: var(--text-light);
}

#compendium-browser > section.window-content > .content-box .spell-browser .list-buttons button,
#license-viewer > section.window-content > .content-box .spell-browser .list-buttons button {
  line-height: 19px;
  background: rgba(0, 0, 0, 0.5);
}

/* styles/custom-ui.css */
.logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 71px;
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
  z-index: 10;
}

.logo {
  height: auto;
  max-height: 100%;
  max-width: 100%;
  display: block;
  margin: 0;
  position: relative;
  z-index: 11;
}
